<footer>
    <div class="footer-main">
        <div class="footer-container">

            <div class="footer-logo">
                <a href="/index.html">WRWEDF</a>
            </div>

            <ul class="footer-nav-main">
                <li><a href="../pages/Header.html">Header</a></li>
                <li><a href="../pages/Footer.html">Footer</a></li>
                <li><a href="../pages/HeroSection.html">Hero Section</a></li>
                <li><a href="../pages/LoginPage.html">Login Pages</a></li>
            </ul>

            <ul class="footer-nav-main">
                <li><a href="../pages/Effect.html">Effect</a></li>
                <li><a href="../pages/Animation.html">Animation</a></li>
                <li><a href="../pages/Button.html">Button</a></li>
                <li><a href="../pages/APILearing.html">API list</a></li>
                <li><a href="../pages/3DElement.html">3D Element</a></li>
            </ul>

            <ul class="footer-nav-main">
                <li><a href="../About.html">About</a></li>
                <li><a href="../Blogs.html">Blog</a></li>
            </ul>

            <div class="idea-counter">
                <h1>14</h1>
            </div>

        </div>
    </div>
</footer>
