<header>
    <div class="header-main">
        <div class="header-contener">
            <div class="header-logo">
                <a href="/index.html">WRWEDF</a>
            </div>

            <div class="header-sht-word">
                <a href="../pages/Header.html" class="header-list">Header</a>
                <a href="../pages/Footer.html" class="header-list">Footer</a>
                <a href="../pages/HeroSection.html" class="header-list">Hero Section</a>
                <a href="../pages/LoginPage.html" class="header-list">Login Pages</a>
            </div>

            <div class="header-about_blog">
                <a href="../About.html" class="header-list">About</a>
                <a href="../Blogs.html" class="header-list">Blog</a>
            </div>
        </div>
    </div>
</header>